@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header {
    background-color: #FFFEF2;
    display: flex; 
    justify-content: space-between;
    height: 88px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    gap: 0px;
    font-weight: 600;
}

#settlit-logo {
    width: 78px;
    height: 72px;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 500px;
    margin-left: 100px;
}

ul {
    display: flex;
    gap: 30px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.50);;
}

.header-right {
    margin-right: 100px;
    display: flex;
    align-items: center;
}

#log-in {
    background-color: #FFFEF2;
    border: none;
    border-radius: 4px;
    color: #008080;
    height: 45px;
    width: 95px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
}

#sign-up {
    background-color: #008080;
    color: white;
    border: none;
    height: 45px;
    width: 95px;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    gap: 180px;
}

.hero {
    height: 600px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.hero-main {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    gap: 40px;
    font-size: 23px;
    padding-left: 20px;
}

.hero-main-txt {
    display: flex;
    flex-direction: column;
    
}

.hero-main-txt p {
    font-size: 45px;
    font-weight: 600;
}

#up {
    margin-left: 35px;
}

#mid {
    text-align: center;
}

.hero-nav {
    display: flex;
    align-items: center;
    height: 60px;
    width: 420px;
    gap: 40px;
}

#hero-img {
    margin-top: 10px;
}

#get-started, #learn-more {
    height: 60px;
    width: 220px;
    background-color: #008080;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 19px;
    border-radius: 4px;
    font-weight: 600;
}

#learn-more {
    background-color: #4e9677;
}

.features {
    height: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.top-card, .bottom-card {
    display: flex;
}

.card {
    width: 50%;
    height: 640px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-main-txt {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-top: 35px;
    color: white;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.card-main-txt p {
    font-size: 20px;
    width: 60%;
    font-weight: normal;
}

.card-img {
    background-color: white;
    width: 80%;
    height: 400px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#one {
    background-color: lightseagreen;
}

#two {
    background-color: springgreen;
}

#three {
    background-color: aquamarine;
}

#four {
    background-color: palegreen;
}

footer {
    background-color: teal;
    margin-top: 80px;
    height: 170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 22px;
    color: white;
}

.icons {
    display: flex;
    gap: 12px;
}

.icons a {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 15px 5px;
    width: 48px;
    height: 48px;
    transition: opacity 0.2s ease-out;
    opacity: 1;
}

#facebook {
    background: url(images/ico_fb.png);
}

#twitter {
    background: url(images/ico_twitter.png);
}

#instagram {
    background: url(images/ico_instagram.png);
}