@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color:  #bfd8bd;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

header {
    background-color: #FFFEF2;
    display: flex;
    justify-content: space-between;
    height: 12%;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    gap: 0px;
    font-weight: 600;
}

#settlit-logo {
    width: 78px;
    height: 72px;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 500px;
    margin-left: 100px;
}

ul {
    display: flex;
    gap: 30px;
}

li {
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.50);;
}

.header-right {
    margin-right: 100px;
    display: flex;
    align-items: center;
}

#user-account {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    filter: grayscale(100%);
}

main {
    display: flex;
    justify-content: start;
    height: 88%;
    width: 100%;
}

.side-bar {
    height: 100%;
    width: 17%;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 2%;
    justify-content: start;
    gap: 14px;
    background-color: beige;
}

/* hr {
    height: 95%;
    align-self: center;
} */

.individuals, .groups {
    height: 35%;
    display: flex;
    flex-direction: column;
}

.dashboard-button, .all-expenses-button {   
    width: 100%;
    height: 6%;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.827);
    text-align: left;
    padding: 5px 0px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.side-bar a:hover {
    color: black;
}


.side-bar-icon {
    width: 18px;
    height: 18px;
}
/* .individuals-content .side-bar-icon{
    width: 22px;
    height: 22px;
} */
.groups-content .side-bar-icon{
    padding-right: 2px;
    width: 19px;
    height: 17px;
}


.individuals-button, .groups-button {
    height: 18%;
    width: 100%;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.827);;
    text-decoration: underline;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
    font-weight: 500;
}

#plus-icon {
    width: 18px;
    height: 18px;
    /* background-color: rgb(236, 228, 228); */
    
    
}

.groups-content, .individuals-content {
    height: 77%;
    width: 100%;
}

.groups-content ul, .individuals-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12px;
    height: 100%;
    margin-top: 6px;
}

.groups-content li, .individuals-content li {
    width: 100%;
    height: 12%;
    text-align: left;
    display: flex;
    gap: 5px;
}

.groups-content a, .individuals-content a {
    height: 16%;
    font-size: 16px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.718);
}

.header-right {
    position: relative;
  }
  .modal-window {
    width: 150px;
    position: absolute;
    top: 100%;
    background-color: rgba(24, 150, 150, 0.696);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    transform: translateX(75%);
    transition: all 1s ease-in;
    display: none;
    z-index: -1;
  }
  .modal-window.open {
    transform: translateX(0%);
    display: block;
  }
  .modal-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-link {
    color: snow;
    text-decoration: none;
  }
  .modal-link:hover {
    color: #fff;
  }
  .logout {
    color: #ef4444;
  } 



/* ritvik part  */


.content{
    width: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box{
    width: 25vw;
    height: 80vh;
    background: #ffffff38;
    border: 1px solid #000;
    border-radius: 20px;
    box-shadow: 10px 10px 26px 17px #726f3640;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    left: 25%;
    
}
.add-blur{
    filter: blur(2px);
}

.add-button{
    width: 55%;
    height: 8%;
    padding-top: 10px;
    background: #D9D9D9;
    border-radius: 40px;
    color: #000;
    font-size: 150%;
    text-align: center;
    cursor: pointer;
    mix-blend-mode: luminosity;
    opacity: 0.5;
    transition: all ease 1s;
    border: 1px solid black;
}
.add-button:hover{
    scale: 0.9;
}

.groupname-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 15px;
    position: relative;
    right: 3%;
    transition: all ease 0.7s;
}

.groupname-text{
    color: #0000006e;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    text-decoration: none;
}
.groupname{

    transition: all ease 0.7s;
}
.groupname:hover{
    scale: 1.05;
}
.boxji{
    transition: all ease .9s;
}
.boxji:hover{
    scale: 0.9;
    cursor: pointer;
}
 /* style to button */
button{
    border: none;
    font-size: 24px;
}

/*This is modal*/
.new-group{
    width: 40rem;
    height: 60vh;
    z-index: 2;
    opacity: .9;
    scale: 0;
    border-radius: 2.5rem;
    border: 1px solid rgba(138, 127, 127, 0.8);
    background: #eff0ee ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.for-gap{
    padding-bottom: 10%;
    color: #000;
    font-size: 26px;
    font-weight: 400;
}
.modal{
    scale: 1;
}

.get-data{
    width: 12.5rem;
    height: 2.5rem;
    cursor: pointer;
    border: none;
    color: #000000b0;
    font-size: 1rem;
    padding-left: 15px;
    border-radius: .25rem;
    background: #ffffff;
    outline: none;
    box-shadow: 0px 0px 18px -3px #6C8E80;
    transition:all ease 1s ;
}
.add-group-name{
    padding-top: 10%;
}
.get-data:hover{
    scale:0.95;
    box-shadow: 0px 0px 14px -5px #778a72;
} 

.for-member{
    margin-top: 15px;
    position: relative;
    left: 33.5%;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80%;
}


