*{
    margin: 0;
    padding: 0;
    font-family: Outfit;
    box-sizing: border-box;
}
svg:hover{
    scale: 0.95;
}
svg{
    transition:all ease 0.5s
}

::placeholder {
    color: #1F885B;
    opacity: .5; 
  }
.main-body{
    height: 100vh;
    background: #cfdca9e0;
    background : linear-gradient(to bottom right,#cfdca9e0, #929f6ce0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-bar{
    width: 28rem;
    height: 40rem;
    border-radius: 0.625rem 0rem 0rem 0.625rem;
    border-right: 1px solid #5F8B78;
    background: #FFFDDF;
    /* position: relative; */
    /* left: 2.5%; */
    transition: all ease 0.5s;
}

.side-bar svg{
    position: relative;
    left: 30px;
    top: 160px;
}

.main-bar{
    width: 36rem;
    height: 40rem;
    border-radius: 0rem 0.625rem 0.625rem 0rem;
    background: #FFFEF2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 25px;
    /* position: relative; */
    /* left: 2.5%; */
}

/* .bar{
    filter: blur(2px);
} */

.Welcome{
    width: 380.366px;
    height: 48.18px;
    text-align: center;
    color: #000;
    font-size: 40px;
    font-weight: 600;
}

.form-input {
    padding: 10px;
}

.data-input{
    width: 19.5rem;
    height: 3.5rem;
    border: none;
    color: #000000b0;
    font-size: 1.5rem;
    padding-left: 15px;
    border-radius: 1rem;
    background: #ffffffd4;
    outline: none;
    box-shadow: 0px 0px 18px -3px #6C8E80;
    transition:all ease 1s ;
}

.data-input:hover{
    scale:0.95;
    box-shadow: 0px 0px 14px -5px #778a72;
} 

.create-acc{
    width: 13.5rem;
    height: 2.55rem;
    padding-top: 3px;
    border: none;
    border-radius: 10px;
    background : linear-gradient(rgba(69, 109, 92, 1), rgba(136, 184, 164, 1));
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    transition:all ease 0.7s ;
    cursor: pointer;
}
.create-acc:active{
    scale: 0.9;
}

.agree{
    color: #739987;
    font-size: 1.25rem;
    font-weight: 400;

}

.condition{
    cursor: pointer;
    color: #1F885B;
    font-size: 1.35rem;
    font-weight: 600;
}

.already{
    color: #739987;
    font-size: 1.25rem;
    font-weight: 400;
}

.signin{
    cursor: pointer;
    color: #1F885B;
    font-size: 1.35rem;
    font-weight: 600;
}
.signin > a{
    color: #1F885B;
    text-decoration: none;
}

