::-webkit-scrollbar {
    width: 0.8em;
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: #c0c6c05d;
  }


/* db edits  */

.db-innerbox-animation{
    font-size: 64px;
    font-weight: 300; 
    color: #de658d;
    
}

.text-animation{

    color: #d54d7b;
    font-family: "'Rouge Script","cursive"; 
    font-size: 64px; 
    line-height: 64px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 40px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff;

}

.db-content{
    padding: 2rem 3rem;
    width: 83%;
    background:
    conic-gradient(from 0deg at calc(500%/6) calc(100%/3),#86ab84 0 120deg,#0000 0),
    conic-gradient(from -120deg at calc(100%/6) calc(100%/3),#a0c59d 0 120deg,#0000 0),
    conic-gradient(from 120deg at calc(100%/3) calc(500%/6),#bfd8bd 0 120deg,#0000 0),
    conic-gradient(from 120deg at calc(200%/3) calc(500%/6),#bfd8bd 0 120deg,#0000 0),
    conic-gradient(from -180deg at calc(100%/3) 50%,#a0c59d  60deg,#bfd8bd 0 120deg,#0000 0),
    conic-gradient(from 60deg at calc(200%/3) 50%,#bfd8bd  60deg,#86ab84 0 120deg,#0000 0),
    conic-gradient(from -60deg at 50% calc(100%/3),#bfd8bd 120deg,#a0c59d 0 240deg,#86ab84 0);
    background-size: 229px 132px;
    display: flex;
    justify-content:space-evenly;
}

.db-main-box{
    /* width: 90%; */
    background-color: #FFFEF2;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

    display: flex;
    justify-content:space-evenly;
}

.db-money-list{
    width: 50vw;
    background: #FFFDDF;
    border-radius: 10px 1px 1px 10px ;


    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

.db-innerbox-flex{

    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.db-pie-chart{
    width: 20vw;
    height: 50vh;

    margin-top: 10%;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.db-money-innerbox{
    width: 20vw;
    height: 50vh;
    margin: 50px;

    background: #c0c6c05d;
    border-radius: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px; */

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.db-get-name{
    padding-top: 2px;
    padding-bottom: 5px 1px 1px 5px;

    color: #706e6e;
    font-size: 32px;
    font-weight: 600;
}
 

.db-give-name{
    padding-top: 2px;
    padding-bottom: 5px;

    color: #706e6e;
    font-size: 32px;
    font-weight: 600;
}


.db-moneylist{
    width: 20vw;
    height: 40vh;
    padding-top: 350px;

    border-top: 2px solid #000000;

    overflow: auto;

    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.db-moneylist > ul {
    display: flex;
    flex-direction: column;
}


.db-get-name-list{
    padding: 10px;

    font-size: 24px;
}

.db-get-money{
    padding-left: 80px;
    margin-top: 5px;

    color: #393939;
    font-size: 16px;
}


.db-give-name-list{
    padding: 10px;

    font-size: 24px;
}

.db-give-money{
    padding-left: 80px;
    margin-top: 5px;

    color: #393939;
    font-size: 16px;
}