@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

header {
    background-color: #FFFEF2;
    display: flex;
    justify-content: space-between;
    height: 12%;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    gap: 0px;
    font-weight: 600;
}

#settlit-logo {
    width: 78px;
    height: 72px;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 500px;
    margin-left: 100px;
}

ul {
    display: flex;
    gap: 30px;
}

li {
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.50);;
}

.header-right {
    margin-right: 100px;
    display: flex;
    align-items: center;
}

#user-account {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
}

main {
    display: flex;
    justify-content: start;
    height: 88%;
    width: 100%;
}

.side-bar {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-evenly;
    gap: 14px;
}

hr {
    height: 95%;
    align-self: center;
}

.individuals, .groups {
    height: 35%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid black;
}

#dashboard-button, #all-expenses-button {
    background-color: rgba(24, 150, 150, 0.696);
    border: none;
    width: 100%;
    height: 6%;
    font-size: 18px;
    color: black;
    border-radius: 8px;
    text-align: center;
    padding: 5px 0px;
    text-decoration: none;
    border: 1px solid black;
}

#individuals-button, #groups-button {
    background-color: rgba(24, 150, 150, 0.696);
    border: none;
    height: 18%;
    width: 100%;
    font-size: 18px;
    color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid black;
}

#plus-icon {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
}

.individuals img, .groups img {
    width: 25px;
    height: 25px;
}

.groups-content, .individuals-content {
    height: 77%;
    width: 100%;
}

.groups-content ul, .individuals-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12px;
    height: 100%;
    margin-top: 6px;
}

.groups-content li, .individuals-content li {
    width: 100%;
    height: 12%;
    text-align: center;
}

.groups-content a, .individuals-content a {
    height: 16%;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.header-right {
    position: relative;
  }
  .modal-window {
    width: 150px;
    position: absolute;
    top: 100%;
    background-color: rgba(24, 150, 150, 0.696);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    transform: translateX(75%);
    transition: all 1s ease-in;
    display: none;
    z-index: -1;
  }
  .modal-window.open {
    transform: translateX(0%);
    display: block;
  }
  .modal-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-link {
    color: snow;
    text-decoration: none;
  }
  .modal-link:hover {
    color: #fff;
  }
  .logout {
    color: #ef4444;
  } 


