extends layout 

block content 

    h1= title
    form(method="POST" action="")
        label(for="email") Email:
        input#email.form-control(type="email" placeholder="example@123.org" name="email" required="true" value=(undefined===credential ? '' : credential.email))
        label(for="password") Password:
        input#password.form-control(type="password" placeholder="" name="password" required="true" value=(undefined===credential ? '' : credential.password))
        button.btn(type="submit") Submit 

    if errors 
        ul(style="color:red;")
            for error in errors 
                li!= error.msg
    if form_errors
        ul(style="color:red;")
            li= form_errors 