doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/thankyou.css')
  title Thank You for Contacting Settlit
header
  .header-left
    .logo
      img#settlit-logo(src='images/settlit-logo.png' alt='Settlit Logo')
      |                 Settlit
    .nav
      ul
        li
          a(href='/') Home
        li
          a(href='/aboutus') About us
        li
          a(href='/blog') Blog
main
  section.contact
    h1 Thank You for Contacting Us
    p We appreciate your message and will get back to you as soon as possible.
footer
  .icons
    a#facebook(href='#')
    a#twitter(href='#')
    a#instagram(href='#')
  |         Copyright 2023 Settlit, Inc | All Rights Reserved
