extends user-layout 

block content
    script(src='/javascripts/user-dashboard.js' defer)
    script(src='/javascripts/db-chart.js' defer)
    script(src='https://cdn.jsdelivr.net/npm/chart.js')
    script(src='https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js')
    link(rel="stylesheet" href="/stylesheets/user-dashboard.css")
    .db-content
        .db-main-box
            .db-money-list
                .db-money-innerbox
                    .db-get-name Owed to you
                    .db-moneylist
                        ul
                            if toget_list.length > 0 
                                each transaction in toget_list 
                                    li.db-get-name-list #{transaction.reciever.name}
                                        ul 
                                            li.db-get-money #{transaction.amount}
                            else 
                                p No one owes you any money!
                .db-money-innerbox
                    .db-give-name Owed by you
                    .db-moneylist
                        ul
                            if togive_list.length > 0 
                                each transaction in togive_list 
                                    li.db-give-name-list #{transaction.sender.name}
                                        ul 
                                            li.db-give-money #{transaction.amount}
                            else 
                                p You owe no money!
                        
            .db-pie-chart
                .db-pie-chart-content
                    canvas#myChart
    
