@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 0.8em;
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: #c0c6c05d;
  }

body {
    background-color:  #bfd8bd;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

header {
    background-color: #FFFEF2;
    display: flex;
    justify-content: space-between;
    height: 12%;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    gap: 0px;
    font-weight: 600;
}

#settlit-logo {
    width: 78px;
    height: 72px;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 500px;
    margin-left: 100px;
}

.nav ul {
    display: flex;
    gap: 30px;
}

li {
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.50);;
}

.header-right {
    margin-right: 100px;
    display: flex;
    align-items: center;
}

#user-account {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    filter: grayscale(100%);
}

main {
    display: flex;
    justify-content: start;
    height: 88%;
    width: 100%;
}

.side-bar {
    height: 100%;
    width: 17%;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 2%;
    justify-content: start;
    gap: 14px;
    background-color: beige;
}

/* hr {
    height: 95%;
    align-self: center;
} */

.individuals, .groups {
    height: 35%;
    display: flex;
    flex-direction: column;
}

.dashboard-button, .all-expenses-button {   
    width: 100%;
    height: 6%;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.827);
    text-align: left;
    padding: 5px 0px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.side-bar a:hover {
    color: black;
}


.side-bar-icon {
    width: 18px;
    height: 18px;
}
/* .individuals-content .side-bar-icon{
    width: 22px;
    height: 22px;
} */
.groups-content .side-bar-icon{
    padding-right: 2px;
    width: 19px;
    height: 17px;
}


.individuals-button, .groups-button {
    height: 18%;
    width: 100%;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.827);;
    text-decoration: none;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
    font-weight: 500;
}

#plus-icon {
    width: 18px;
    height: 18px;
    /* background-color: rgb(236, 228, 228); */
    
    
}

.groups-content, .individuals-content {
    height: 77%;
    width: 100%;
}

.groups-content ul, .individuals-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12px;
    height: 100%;
    margin-top: 6px;
}

.groups-content li, .individuals-content li {
    width: 100%;
    height: 12%;
    text-align: left;
    display: flex;
    gap: 5px;
}

.groups-content a, .individuals-content a {
    height: 16%;
    font-size: 16px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.718);
}

/* db edits  */

.db-innerbox-animation{
    font-size: 64px;
    font-weight: 300; 
    color: #de658d;
    
}

.text-animation{

    color: #d54d7b;
    font-family: "'Rouge Script","cursive"; 
    font-size: 64px; 
    line-height: 64px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 40px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff;

}

.fc-content{
    padding: 2rem 3rem;
    width: 83%;
    background:
    conic-gradient(from 0deg at calc(500%/6) calc(100%/3),#86ab84 0 120deg,#0000 0),
    conic-gradient(from -120deg at calc(100%/6) calc(100%/3),#a0c59d 0 120deg,#0000 0),
    conic-gradient(from 120deg at calc(100%/3) calc(500%/6),#bfd8bd 0 120deg,#0000 0),
    conic-gradient(from 120deg at calc(200%/3) calc(500%/6),#bfd8bd 0 120deg,#0000 0),
    conic-gradient(from -180deg at calc(100%/3) 50%,#a0c59d  60deg,#bfd8bd 0 120deg,#0000 0),
    conic-gradient(from 60deg at calc(200%/3) 50%,#bfd8bd  60deg,#86ab84 0 120deg,#0000 0),
    conic-gradient(from -60deg at 50% calc(100%/3),#bfd8bd 120deg,#a0c59d 0 240deg,#86ab84 0);
    background-size: 229px 132px;
    display: flex;
    justify-content:space-evenly;
}

.fc-main-outer-box{
  width: 75rem;
  height: 38rem;

  border: 1px solid #00000033;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 3px #16151b55;

  background: #e2e8f0e3;

}
.fc-header-profile{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fc-backSpace-key{
  padding-bottom: 15px;

  position: relative;
  right: 100px;

  cursor: pointer;

  font-size: 76px;
  font-weight: 900;
}

.fc-friend-name{
  font-size: 46px;
  font-weight: 500;
}

.fc-more-option{
  color: #000;

  font-family: Gabriela;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.6%;
}
.dot{
  padding-top: 2px;

  position: relative;
  bottom: 15px;
  left: 50px;

  cursor: pointer;
}
.fc-line{

  width: 1120px;
  height: 1px;

  position: relative;
  left: 35px;
  bottom: 25px;
}
.main-chat-area{
  width: 25rem;
  height: 15rem;
  margin-left: 15px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-chat-area-right{
  position: relative ;
  left: 39.5rem;
}

.fc-img-username-right{
  position: relative ;
  left: 25.5rem;
}

.fc-img{
  position: relative;
  bottom: 40px;

  background: #a2c2eb;
  width: 60px;
  height: 60px;
  border: 1px solid #00000041;
  border-radius: 50px;
}

.fc-username{
  position: relative;
  bottom: 40px;

  font-size: 14px;
}

.fc-inner-chat-area{
  border-radius: 10px;
  background: #99a7b9d8;
  width: 20rem;
  height: 9.3rem;
  border: 1px solid #00000041;
}

.fc-tag-name{
  text-align: center;
  font-size: 36px;
}

.fc-first-user{
  margin-top: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.fc-second-user{
  margin-top: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pending{
  outline: none;
  border: none;

  width: 100px;
  height: 30px;

  border-radius: 10px;
  font-size: 18px;

  cursor: pointer;
  color: #FFFEF2;
  background: #c63d3d;
  transition: all ease 1s;
}

.pending:active{
  scale: 0.9;
}

.fc-chat-container{
  height: 68%;
  overflow: auto;
  width: 100%;
}



.request-area{
  position: relative;
  top: 1rem;
  left: 9rem;

  outline: none;
  width: 40rem;
  height: 3rem;
  padding-left: 15px;
  font-size: 24px;
  color: #090909;

  background-color: #c7cdd6d8;
  border: 1px solid rgba(0, 0, 0, 0.264);
  border-radius: 15px;
}

.fc-request-button{
  width: 9rem;
  height: 2.8rem;
  font-size: 24px;

  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.195);
  color: floralwhite;
  background-color: #071629be;

  position: relative;
  left: 250px;
  top: 1rem;
}


 /* modal of navbar */

 .fc-modal-window{

  position: relative;
  bottom: 33.5rem;
  left: 55.5rem;

  width: 12rem;
  height: 6.5rem;

  background-color: #223652be;
  scale: 0;

  border: 1px solid black;
  border-radius: 5px;
 }

 .fc-info{
  padding-top: 5px;
  padding-bottom: 5px;
  
  cursor: pointer;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  color: #071629;
 }

 .fc-leave-option{
  padding-top: 5px;
  padding-bottom: 5px;

  cursor: pointer;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  color: #a14b45;
 }

 .fc-modal-line{
  background: #000;
 }

 .fc-modal-window-scale{
  scale: 1;
 }